body {
    font-family: sans-serif;
    background-color:white;
    
}

.Nagłówek{
    display: flex;
    
    height: auto;
    align-items: center; 
    justify-content: center;
    
  
    
}


.Nagłówek img{
    width: auto;
    height: 150px;
    
}

.container{
    display: flex;
    justify-content: space-around;
    
    background-image: linear-gradient(rgb(70, 216, 249), rgb(143, 237, 245));
    height: 60px;
    align-items: center;
    border-radius: 300px;
    
}
.container a{
    text-decoration: none;
    font-weight: 550;

}


.kontener{
    
    width: 100%;
    
}
.zdjecie{
    
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin: 10px 0px;
    border-radius: 30px;

}

.zdjecie a{
    color: rgba(255, 255, 255, 0.866);
    display: flex;
    font-size: 30px;
    background-color: rgb(0,0,0,0.5);
    text-decoration: none;
}

.karta1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    
    

}

.karta2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#z1{
    background-image: url("Photos/buty.jpg");
    

}

#z2{
    background-image: url("Photos/zegar.jpg");
    
}

#z3{
    background-image: url("Photos/tetno2.jpg");
}

#z4{
    background-image: url("Photos/dieta3.jpg");

}




h3{
    text-align: center;
    font-family:'Times New Roman';
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
   justify-content: center;
    background-color: rgba(59, 146, 212, 0.366);
    align-items: center;
}

.footer img{
    width: auto;
    height: 65px;
    display: flex;
    align-items: center;
    
    
}

.footer h1{
    margin-right: 30px;
}
span {
    content: "\2709";
    font-size: 25px;
    margin-bottom: 5px;

  } 

  a {
    margin-left: 5px; 
    text-decoration: none;
   
}

@media only screen and (max-width: 1080px){

    .zdjecie{
        width: 80%;
        height: 350px;
        
    }

    .Nagłówek img{
        width: auto;
        height: 65px;

        top: 10px;
        left: 140px;
        
    }
    
    
    .Nagłówek{
     
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
       
        
    }
    
}

