body {
    font-family: sans-serif;
    background-color:white;
    
}

.Nagłówek{
    display: flex;
    
    height: auto;
    align-items: center; 
    justify-content: center;
  
    
}


.Nagłówek img{
    width: auto;
    height: 150px;
    
}

.container{
    display: flex;
    justify-content: space-around;
    
    background-image: linear-gradient(rgb(70, 216, 249), rgb(143, 237, 245));
    height: 60px;
    align-items: center;
    border-radius: 300px;
    
}
.container a{
    text-decoration: none;
    font-weight: 550;

}


.kontener{
    
    width: 100%;
    
}
.zdjecie{
    
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin: 10px 0px;
    border-radius: 30px;

}

.zdjecie a{
    color: rgba(255, 255, 255, 0.866);
    display: flex;
    font-size: 30px;
    background-color: rgb(0,0,0,0.5);
    text-decoration: none;
}

.karta1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
    

}

.karta2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}

#z1{
    background-image: url("buty.jpg");
    

}

#z2{
    background-image: url("zegar.jpg");
    
}

#z3{
    background-image: url("tetno2.jpg");
}

#z4{
    background-image: url("dieta3.jpg");

}



h1{
    
    
}

h3{
    text-align: center;
    font-family:'Times New Roman';
}

@media only screen and (max-width: 1080px){

    .zdjecie{
        width: 80%;
        height: 350px;
        
    }

    .Nagłówek img{
        width: auto;
        height: 65px;

        top: 10px;
        left: 140px;
        
    }

    .Nagłówek{
     
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
       
        
    }
    
}

