
body {
    font-family: sans-serif;
    background-color:white;
    margin: 0;
}


table{
    border-collapse: collapse;
    tr {border: 1px solid};
    
}

td{
    padding: 20px;
}

th{
    padding: 20px;
}

thead{
font-family: 'Calibri';
background-color: rgb(43, 73, 181);
color: white;
}

.box{
    margin-left: 20px;
    margin-right: 20px;
    
}

.box p{
    max-width: 1240px;
    
}

h1{
    text-align: center;
}


h2{
    text-shadow: 1px 4px 71px rgba(0, 3, 255, 1);
}

.p1{
    margin-top: 100px;
    
}



@media only screen and (max-width: 1080px){

    table {
    width: 50px; 
    height: 50px; 
    
}

    td, tr, th {
    width: 50px; 
    height: 20px;
}

.plany p{
    font-size: 3vw;
}

}


@media only screen and (max-width: 750px){

.header{
    
    height: 70px;
    padding: 40px;
}

.header-logo{
    width: auto;
    padding: 15px;
}

.menu{
    display: none;
}

.menu-mobile{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(48, 45, 45, 0.9);
    transition: border-bottom 0.4s linear; 
    
   
}

.menu-mobile a:hover {
    
    border-bottom: 3px solid #6ed73e
    
}
.menu-mobile a{
    color: white;
}

.menu-icon{
    width: 100%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    
}

ul{
    text-align: center;
    
}
li{
    padding: 5px;
    font-weight: 700;
}
button{
    display: block;
    background: none;
    border: none;
    height: 50px;
    width: 50px;
    margin-left: auto;
    
}
.lo{
    display: flex;
    flex-direction: column;
    margin-top:50px
   
}
   
.box{
    margin-top: 80px;
}

#myLinks {
    display: none;
}


.plany p{
    font-size: 3vw;
}

}

