body {
    font-family: sans-serif;
    background-color:white;
    margin: 0;
}  

main{
    margin-top: 30px;
}

.header-container{
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
}

.header{
    display: flex;
    position: relative;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.647);
    

}


.header-logo{
    width: auto;
    height: 130px;
    margin-right: 20px;
    padding: 15px 0;
    
}

.menu{
    
    display: flex;
    padding: 0 30px;
    margin-top: 100px;
}


.menu a{
    text-decoration: none;
    font-weight: 550;
    color: white;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.4s linear; 

}

button{
    display: none;
}

.menu a:hover {
    
    border-bottom: 3px solid #6ed73e
    
}

ul{
    list-style-type: none;
    gap: 50px;
  
}

.box{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100px;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
   
    background-color: rgba(234, 240, 244, 0.685);
    
}

.box a{
    text-decoration: none;
    font-weight: 500;
    background-color: grey;
    border-radius: 10px;
    padding: 0 30px;
    font-size: 20px;
    color: white;
    
}

.box a:hover{
    color: #6ed73e;
}
.city{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative; 
}


.nazwa{
    display: flex;
    align-items: left;

}
h1{
    text-align: left;
    font-size: 50px;
    
}

.karta img{
    height: 500px;
    width: 45%;  
    border-radius: 30px;
    
    
}

.karta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}


.przycisk{
    height:40px;
    width:200px;
    margin-left: 50px;
    font-weight:bolder;
    background-image: linear-gradient(rgb(83, 186, 233), rgb(122, 197, 215),rgba(255, 255, 255, 0.46));
    border: none;
    -webkit-box-shadow: 0px 7px 20px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 7px 20px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 7px 20px 0px rgba(66, 68, 90, 1);
    border-radius: 10px;
}

h1{
    text-align: center;
    font-size: 30px;
    
}


.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.355);
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;

}

.footer h1{
    margin-right: 30px;
}


    @media only screen and (max-width: 1080px){
        .header h3{
            font-size: 15px;
        }
       
        .header a{
        text-decoration: none;
        font-weight: 300px;
        font-size: 15px;
    }

    .karta{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    

    .karta img{
        height: 50vw;  
        border-radius: 30px;
        width: 90%;
        
    }
    
    .mapa{
        width: 100vw;
    }

    .mapa iframe{
        width: 100%;
    }
    
    }

    @media only screen and (max-width: 750px){

        .miasta{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        flex: initial;
        }

       

    .header{
        
        height: 70px;
        padding: 40px;
    }

    .header-logo{
        width: auto;
        padding: 15px;
    }

    .menu{
        display: none;
    }

    .menu-mobile{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(48, 45, 45, 0.9);
        transition: border-bottom 0.4s linear; 
        
    
    }

    .menu-mobile a:hover {
        
        border-bottom: 3px solid #6ed73e
        
    }
    .menu-mobile a{
        color: white;
    }

    .menu-icon{
        width: 100%;
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin: 5px 0;
        
    }

    ul{
        text-align: center;
        
    }
    li{
        padding: 5px;
        font-weight: 700;
    }
    button{
        display: block;
        background: none;
        border: none;
        height: 50px;
        width: 50px;
        margin-left: auto;
        
    }
    .lo{
        display: flex;
        flex-direction: column;
        margin-top:50px
    
    }
    
    .box{
        margin-top: 80px;
    }

    #myLinks {
        display: none;
    }

    }

        @media only screen and (max-width: 1340px){
            .karta{
            display: flex;
            justify-content: center;
            width: 100%;
        }
        


    }
